<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Breeze.Server.ContextProvider" version="1.5.2" targetFramework="net451" />
  <package id="Breeze.Server.ContextProvider.EF6" version="1.5.2" targetFramework="net451" />
  <package id="EntityFramework" version="6.1.2" targetFramework="net451" />
  <package id="LinqKit" version="1.1.1" targetFramework="net451" />
  <package id="Microsoft.OData.Core" version="6.9.0" targetFramework="net451" />
  <package id="Microsoft.OData.Edm" version="6.9.0" targetFramework="net451" />
  <package id="Microsoft.Spatial" version="6.9.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.7" targetFramework="net451" />
</packages>