<!DOCTYPE html>
<html lang="es" ng-app="gcloud" ng-controller="AppCtrl">
<head>
    <meta charset="utf-8">


    <title> GCloud </title>
    <meta name="description" content="Gym App">
    <meta name="author" content="Juan Elías Ugalde">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- FAVICONS -->
    <link rel="shortcut icon" href="assets/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="assets/img/favicon/favicon.ico" type="image/x-icon">

    <!-- Specifying a Webpage Icon for Web Clip
         Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
    <link rel="apple-touch-icon" href="assets/img/splash/sptouch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/splash/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/img/splash/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/img/splash/touch-icon-ipad-retina.png">

    <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Startup image for web apps -->
    <link rel="apple-touch-startup-image" href="assets/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
    <link rel="apple-touch-startup-image" href="assets/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="assets/img/splash/iphone.png" media="screen and (max-device-width: 320px)">

    <!-- compiled CSS -->
    <link rel="stylesheet" type="text/css" href="vendor/kendo-ui/css/kendo.common.min.css" />

    <link rel="stylesheet" type="text/css" href="vendor/kendo-ui/css/kendo.dataviz.default.min.css" />

    <link rel="stylesheet" type="text/css" href="vendor/kendo-ui/css/kendo.dataviz.min.css" />

    <link rel="stylesheet" type="text/css" href="vendor/kendo-ui/css/kendo.default.min.css" />

    <link rel="stylesheet" type="text/css" href="assets/GCloud-0.3.2.css" />


    <!-- compiled JavaScript -->
    <script type="text/javascript" src="assets/GCloud-0.3.2.js"></script>


</head>
<body class="">
    <!-- possible classes: minified, fixed-ribbon, fixed-header, fixed-width-->

    <!-- HEADER -->
    <header id="header">
        <div id="logo-group">

            <!-- PLACE YOUR LOGO HERE -->
            <span id="logo"> <img src="assets/img/logo.png" alt="SmartAdmin"> </span>
            <!-- END LOGO PLACEHOLDER -->
        </div>

        <!-- pulled right: nav area -->
        <div class="pull-right">

            <!-- collapse menu button -->
            <div id="hide-menu" class="btn-header pull-right">
                <span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
            </div>
            <!-- end collapse menu -->
            <!-- #MOBILE -->
            <!-- Top menu profile link : this shows only when top menu is active -->
            <ul id="mobile-profile-img" class="header-dropdown-list hidden-xs padding-5">
                <li class="">
                    <a href="#" class="dropdown-toggle no-margin userdropdown" data-toggle="dropdown">
                        <img src="assets/img/avatars/sunny.png" alt="John Doe" class="online" />
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0"><i class="fa fa-cog"></i> Setting</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="profile.html" class="padding-10 padding-top-0 padding-bottom-0"> <i class="fa fa-user"></i> <u>P</u>rofile</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="toggleShortcut"><i class="fa fa-arrow-down"></i> <u>S</u>hortcut</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="launchFullScreen"><i class="fa fa-arrows-alt"></i> Full <u>S</u>creen</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="login.html" class="padding-10 padding-top-5 padding-bottom-5" data-action="userLogout"><i class="fa fa-sign-out fa-lg"></i> <strong><u>L</u>ogout</strong></a>
                        </li>
                    </ul>
                </li>
            </ul>

            <!-- logout button -->
            <div id="logout" class="btn-header transparent pull-right">
                <!-- WEB-Server logout section -->
                <span> <a href="@Url.Action("LogOff", "Home")" title="Sign Out" data-action="userLogout" data-logout-msg="You can improve your security further after logging out by closing this opened browser"><i class="fa fa-sign-out"></i></a> </span>
                <!-- END WEB-Server logout section -->
            </div>
            <!-- end logout button -->
            <!-- fullscreen button -->
            <div id="fullscreen" class="btn-header transparent pull-right">
                <span> <a href="javascript:void(0);" data-action="launchFullScreen" title="Full Screen"><i class="fa fa-arrows-alt"></i></a> </span>
            </div>
            <!-- end fullscreen button -->
            <!-- multiple lang dropdown : find all flags in the image folder -->
            <ul data-lang-menu="" class="header-dropdown-list hidden-xs" data-ng-controller="LangController">
                <li>
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        <img alt="" class="flag flag-{{ currentLang.flagCode }}" src="assets/img/blank.gif"> <span> {{ currentLang.translation }} </span> <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li data-ng-class="{active: lang == currentLang}" data-ng-repeat="lang in languages">
                            <a href="" data-ng-click="setLang(lang)"><img class="flag flag-{{ lang.flagCode }}" src="assets/img/blank.gif" /> {{ lang.language }} ({{ lang.translation }}) </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- end multiple lang -->

        </div>
        <!-- end pulled right: nav area -->

    </header>
    <!-- END HEADER -->

    <gc-left-panel></gc-left-panel>

    <gc-main-panel></gc-main-panel>

    <gc-footer></gc-footer>
    <!-- WEB-Server script section -->
    @RenderSection("scripts", required: true)
    <!-- END WEB-Server script -->
</body>
